@use './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --font-manrope: 'Manrope', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
  font-size: var(--font-size-l);
  color: var(--primary-color);
}