.logo_wrapper{
  max-width: 111px;
  max-height: 46px;
}

.logo{
  display: flex;
  max-height: 46px;
  align-items: center;
  justify-content: center;
  font-family: var(--font-open-sans), sans-serif;
  font-size: var(--font-size-xl);
  color: var(--secondary-color);
}

@media(max-width: 768px){
  .logo_wrapper{
    max-width: 100px;
    max-height: 28px;
  }

  .logo{
    height: 25px;
    max-width: 98px;
    font-size: 18px;
  }
}