.basket_order_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.order_cost_wrapper{
  display: flex;
  flex-direction: column;
  gap: 24px;

  .total{
    display: flex;
    justify-content: space-between;
    width: 178px;
    height: 33px;
    align-self: flex-end;
    align-items: flex-end;

    .title{
      font-family: var(--font-manrope), sans-serif;
      font-weight: 500;
      font-size: var(--font-size-l);
      color: var(--primary-color);
    }

    .cost{
      font-family: var(--font-manrope), sans-serif;
      font-weight: 700;
      font-size: var(--font-size-xl);
      color: var(--primary-color);
    }
  }
}

.upper_cost_section{
  display: flex;
  flex-direction: column;
  gap: 20px;

  .lower{
    display: flex;
    justify-content: space-between;
  }

  h3{
    font-family: var(--font-manrope), sans-serif;
    font-weight: 700;
    font-size: var(--font-size-xl);
  }

  .dots{
    flex: 1;
    border-bottom: 1px dashed var(--accent-color);
  }

  .title{
    font-family: var(--font-manrope), sans-serif;
    font-weight: 500;
    font-size: var(--font-size-l);
    color: var(--accent-color);
  }

  .cost{
    font-family: var(--font-manrope), sans-serif;
    font-weight: 700;
    font-size: var(--font-size-l);
  }
}

.order_button{
  width: 100%;
  height: 54px;
  color: #FEFEFE;
  border: none;
  border-radius: 8px;
  background: var(--secondary-color);
  font-family: var(--font-manrope), sans-serif;
  font-size: var(--font-size-l);
}