.Modal{
  position: fixed;
  inset: 0;
  opacity: 0;
  z-index: -1;
  pointer-events: none;

  &.opened{
    opacity: 1;
    pointer-events: auto;
    z-index: 10000;
  }

  &.settings{
    z-index: 10010;

    .overlay{
      background: rgb(0 0 0 / 20%);
    }
  }
}

.overlay{
  width: 100vw;
  height: 100vh;
  background: rgb(0 0 0 / 20%);
}

.content{
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;

  &.opened{
    transform: translateX(0);
    opacity: 1;
  }
}

@media(max-width: 768px){

  .overlay{
    background: #FEFEFE;
  }
  .content{
    top: 0;
    left: 50%;
    right: auto;
    transform: translate(-50%);
    &.opened{
      transform: translateX(-50%);
    }

    &.settings{
      top: auto;
      bottom: 0;
    }
  }
}

